<?xml version="1.0"?>

<model>
  <name>Workdesk</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Ralf Koneig</name>
    <email>ralf.koenig@kiongroup.com</email>
  </author>

  <author>
    <name>Ralf Koenig</name>
  </author>

  <description>
    A simple workdesk made of a wooden plate and a box.
  </description>
</model>
